<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jeilm.api.app.career.service.mapper.CareerPositionMapper">

	<select id="selectPosition" resultType="jeilm.api.app.career.vo.CareerPositionVO">
		<![CDATA[
			/* selectPosition */
			SELECT
				A.POSITION_SN
				, A.POSITION_TITLE
				, A.POSITION_DESC
				, A.POSITION_REQUIRE
				, A.RECEIVE_NM_FIRST
				, A.RECEIVE_MAIL_FIRST
				, A.RECEIVE_NM_SECOND
				, A.RECEIVE_MAIL_SECOND
				, A.DISPLAY_YN
				, DATE_FORMAT(A.REG_DT, '%Y-%m-%d %H:%i') REG_DT
				, (SELECT FILE_SN FROM TB_FILE F WHERE F.FILE_DATA_SN = A.POSITION_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'main') AS FILE_SN_MAIN
				, (SELECT FILE_USER_NM FROM TB_FILE F WHERE F.FILE_DATA_SN = A.POSITION_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'main') AS FILE_USER_NM_MAIN
				, (SELECT FILE_PATH FROM TB_FILE F WHERE F.FILE_DATA_SN = A.POSITION_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'main') AS FILE_PATH_MAIN
				, A.POSITION_CAT
				, B.CODE_NM AS POSITION_CAT_NM
			FROM
				TB_CAREER_POSITION A
				INNER JOIN TB_CODE B ON (B.CODE_ID = A.POSITION_CAT)
			WHERE
				A.USE_STATE = 'Y'
			 	AND A.POSITION_SN = #{position_sn}
		]]>
	</select>
	
	<select id="selectPositionList" resultType="jeilm.api.app.career.vo.CareerPositionVO">
		<![CDATA[
			/* selectPositionList */
			SELECT
				A.POSITION_SN
				, A.POSITION_TITLE
				, A.POSITION_DESC
				, A.POSITION_REQUIRE
				, (SELECT FILE_USER_NM FROM TB_FILE F WHERE F.FILE_DATA_SN = A.POSITION_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'main') AS FILE_USER_NM_MAIN
				, (SELECT FILE_PATH FROM TB_FILE F WHERE F.FILE_DATA_SN = A.POSITION_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'main') AS FILE_PATH_MAIN
				, B.CODE_NM AS POSITION_CAT_NM
			FROM
				TB_CAREER_POSITION A
				INNER JOIN TB_CODE B ON (B.CODE_ID = A.POSITION_CAT)
			WHERE
				A.USE_STATE = 'Y'
				AND A.DISPLAY_YN = 'Y'
				AND A.POSITION_ID = #{position_id}
			ORDER BY
				A.POSITION_SN DESC
		]]>
	</select>
	
	<select id="selectPositionTitleList" resultType="jeilm.api.app.career.vo.CareerPositionTitleVO">
		<![CDATA[
			/* selectPositionTitleList */
			SELECT
				A.POSITION_SN
				, A.POSITION_TITLE
			FROM
				TB_CAREER_POSITION A
			WHERE
				A.USE_STATE = 'Y'
				AND A.DISPLAY_YN = 'Y'
				AND A.POSITION_ID = #{position_id}
			ORDER BY
				A.POSITION_SN DESC
		]]>
	</select>
	
</mapper>