<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jeilm.api.app.esg.service.mapper.EsgCodeMapper">
	
	<select id="selectPostList" resultType="jeilm.api.app.esg.vo.EsgCodeVO">
		<![CDATA[
			/* selectPostList */
			SELECT
				A.POST_SN
				, A.POST_TITLE
				, A.REG_DT
				, (SELECT FILE_USER_NM FROM TB_FILE F WHERE F.FILE_DATA_SN = A.POST_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'iso9001') AS FILE_USER_NM_ISO9001
				, (SELECT FILE_PATH FROM TB_FILE F WHERE F.FILE_DATA_SN = A.POST_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'iso9001') AS FILE_PATH_ISO9001
				, (SELECT FILE_USER_NM FROM TB_FILE F WHERE F.FILE_DATA_SN = A.POST_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'iso14001') AS FILE_USER_NM_ISO14001
				, (SELECT FILE_PATH FROM TB_FILE F WHERE F.FILE_DATA_SN = A.POST_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'iso14001') AS FILE_PATH_ISO14001
				, (SELECT FILE_USER_NM FROM TB_FILE F WHERE F.FILE_DATA_SN = A.POST_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'iso45001') AS FILE_USER_NM_ISO45001
				, (SELECT FILE_PATH FROM TB_FILE F WHERE F.FILE_DATA_SN = A.POST_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'iso45001') AS FILE_PATH_ISO45001
			FROM
				TB_BOARD_POST A
			WHERE
				A.USE_STATE = 'Y'
				AND A.DISPLAY_YN = 'Y'
				AND A.BOARD_ID = #{board_id}
			ORDER BY
				A.POST_SN DESC
			LIMIT 
				#{page_size} OFFSET #{page_offset}
		]]>
	</select>
	
	<select id="selectPostCount" resultType="int">
		<![CDATA[
			/* selectPostCount */
			SELECT
				COUNT(*) CNT
			FROM
				TB_BOARD_POST A
			WHERE
				A.USE_STATE = 'Y'
				AND A.DISPLAY_YN = 'Y'
				AND A.BOARD_ID = #{board_id}
		]]>
	</select>

	<select id="selectTopFile" resultType="jeilm.api.app.esg.vo.EsgCodeVO">
		<![CDATA[
			/* selectTopFile */
			SELECT
				(SELECT FILE_USER_NM FROM TB_FILE F WHERE F.FILE_DATA_SN = A.POST_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'iso9001') AS FILE_USER_NM_ISO9001
				, (SELECT FILE_PATH FROM TB_FILE F WHERE F.FILE_DATA_SN = A.POST_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'iso9001') AS FILE_PATH_ISO9001
				, (SELECT FILE_USER_NM FROM TB_FILE F WHERE F.FILE_DATA_SN = A.POST_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'iso14001') AS FILE_USER_NM_ISO14001
				, (SELECT FILE_PATH FROM TB_FILE F WHERE F.FILE_DATA_SN = A.POST_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'iso14001') AS FILE_PATH_ISO14001
				, (SELECT FILE_USER_NM FROM TB_FILE F WHERE F.FILE_DATA_SN = A.POST_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'iso45001') AS FILE_USER_NM_ISO45001
				, (SELECT FILE_PATH FROM TB_FILE F WHERE F.FILE_DATA_SN = A.POST_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'iso45001') AS FILE_PATH_ISO45001
			FROM
				TB_BOARD_POST A
			WHERE
				A.USE_STATE = 'Y'
				AND A.DISPLAY_YN = 'Y'
				AND A.BOARD_ID = #{board_id}
			ORDER BY
				A.POST_SN DESC
			LIMIT 
				1
		]]>
	</select>

</mapper>