<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jeilm.api.app.esg.service.mapper.EsgMemberMapper">

	<select id="selectEsgMemberList" resultType="jeilm.api.app.esg.vo.EsgMemberVO">
		<![CDATA[
			/* selectEsgMemberList */
			SELECT
				A.MEMBER_CAT
				, A.MEMBER_NM
				, A.MEMBER_MEMBER
				, A.MEMBER_TASK
			FROM
				TB_ESG_MEMBER A
			WHERE
				A.USE_STATE = 'Y'
				AND A.MEMBER_ID = #{member_id}
			ORDER BY
				A.MEMBER_SN DESC
		]]>
	</select>
	
</mapper>