<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jeilm.api.app.popup.service.mapper.PopupMapper">
	
	<select id="selectPopupList" resultType="jeilm.api.app.popup.vo.PopupVO">
		<![CDATA[
			/* selectPopupList */
			SELECT
				A.POPUP_SN
				, A.POPUP_TITLE
				, A.POPUP_CONTENT
				, A.POPUP_WIDTH
				, A.POPUP_HEIGHT
				, A.DISPLAY_YN
				, A.LINK_URL
				, (SELECT FILE_USER_NM FROM TB_FILE F WHERE F.FILE_DATA_SN = A.POPUP_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'body') AS FILE_USER_NM_BODY
				, (SELECT FILE_PATH FROM TB_FILE F WHERE F.FILE_DATA_SN = A.POPUP_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'body') AS FILE_PATH_BODY
				, A.POPUP_CAT
				, C.CODE_NM AS POPUP_CAT_NM
			FROM
				TB_POPUP A
				INNER JOIN TB_ADM B ON (B.ADM_SN = A.REG_SN)
				INNER JOIN TB_CODE C ON (C.CODE_ID = A.POPUP_CAT)
			WHERE
				A.USE_STATE = 'Y'
				AND A.DISPLAY_YN = 'Y'
				AND C.DISPLAY_YN = 'Y'
				AND A.POPUP_ID = #{popup_id}
			ORDER BY
				A.POPUP_SN DESC
		]]>
	</select>

</mapper>