<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>채용정보 지원메일</title>
</head>
<body>
<div>
	<h1 style="font-size: 22px; line-height: 120%;" th:text="${apply_nm} + '님,'"></h1>
	<h1 style="font-size: 22px; line-height: 120%;">채용지원이 정상접수 되었습니다.</h1>
	<p style="font-size: 14px; line-height: 160%;">
		제일엠앤에스 수시채용에 지원해 주신 점 감사합니다. 
		<br>		
		담당자 서류검토를 거쳐 2차 면접 대상자에 대해서는 추가 연락을 드리도록 하겠습니다.
	</p>
	<p style="font-size: 14px; line-height: 160%;">
		* 지원직무: <span th:text="${positoin_cat_nm}"></span>
		<br>
		* 지원일자: <span th:text="${reg_dt}"></span>
		<br>
		* 지원개요:
		<br> 
		<span th:utext="${apply_content}"></span>		
	</p>
	<hr>
	<p style="font-size: 12px; line-height: 160%;">
		2024 © 제일엠앤에스
	</p>
</div>
</body>
</html>