<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>고객지원 문의메일</title>
</head>
<body>
<div>
	<h1 style="font-size: 22px; line-height: 160%;">
		A/S 요청 접수안내
	</h1>
	<p style="font-size: 14px; line-height: 160%;">
		제일엠앤에스 홈페이지에서 고객지원 A/S 요청이 접수되었습니다.
		<br>		
		관리자 고객지원 문의현황에서도 확인할 수 있으며 답변이 완료되면 답변여부를 업데이트 바랍니다.
	</p>
	<p style="font-size: 14px; line-height: 160%;">
		* 이름: <span th:text="${customer_nm}"></span>
		<br>
		* 전화: <span th:text="${customer_tel}"></span>
		<br>
		* 메일: <span th:text="${customer_mail}"></span>
		<br>
		* 제목: <span th:utext="${inquire_title}"></span>
		<br>
		* 내용:
		<br> 
		<span th:utext="${inquire_content}"></span>
	</p>
	<hr>
	<p style="font-size: 12px; line-height: 160%;">
		2024 © 제일엠앤에스
	</p>
</div>
</body>
</html>