<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>문의접수 알림 | 제일엠앤에스</title>
  </head>

  <body>
    <!-- Outer Container -->
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td align="center">
          <!-- Contents Container (600px) -->
          <table border="0" cellpadding="0" cellspacing="0" width="600" style="width:600px; background-color:#ffffff;">
            <!-- header -->
            <tr>
              <td>
                <img th:src="${resourceUrl} + '/images/email/img_mail_header.png'" width="600" height="150" alt="JEIL M&amp;S" style="display:inline-block; border:0; vertical-align:top;" />
              </td>
            </tr>
            <!-- //header -->

            <!-- content -->
            <tr>
              <td height="40" style="font-size:0; line-height:0;">&nbsp;</td>
            </tr>
            <tr>
              <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td width="40">&nbsp;</td>
                    <td>
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                          <td>
                            <b style="display:inline-block; font-family:'Pretendard',sans-serif; font-size:36px; line-height:1.3; letter-spacing:-0.72px; color:#221a19;">
                              Dear [[${customer_nm}]],<br />
                              Your inquiry has been<br />
                              successfully submitted.
                            </b>
                          </td>
                        </tr>
                        <tr>
                          <td height="20" style="font-size:0; line-height:0;">&nbsp;</td>
                        </tr>
                        <tr>
                          <td>
                            <font style="display:inline-block; font-family:'Pretendard',sans-serif; font-size:20px; line-height:1.3; letter-spacing:-0.4px; color:#7a7675;">
                              A representative will review the details of your inquiry and respond as soon as possible.<br />
                              Please check your email for a reply.
                            </font>
                          </td>
                        </tr>
                        <tr>
                          <td height="60" style="font-size:0; line-height:0;">&nbsp;</td>
                        </tr>
                        <tr>
                          <td>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tr>
                              	<td height="4" th:style="|width:50%; background-image:url(${resourceUrl}/images/email/bg_line.png); background-position:top left; background-repeat:no-repeat; font-size:0; line-height:0;|">&nbsp;</td>
                                <td height="4" th:style="|width:50%; background-image:url(${resourceUrl}/images/email/bg_line.png); background-position:top right; background-repeat:no-repeat; font-size:0; line-height:0;|">&nbsp;</td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td height="40" style="font-size:0; line-height:0;">&nbsp;</td>
                        </tr>
                        <tr>
                          <td>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tr>
                                <td style="width:100px;">
                                  <b style="display:inline-block; font-family:'Pretendard',sans-serif; font-size:18px; line-height:1.55; letter-spacing:-0.36px; color:#221a19;">
                                    Inquiry Type
                                  </b>
                                </td>
                                <td align="right" style="text-align:right;">
                                  <font style="display:inline-block; font-family:'Pretendard',sans-serif; font-size:18px; line-height:1.55; letter-spacing:-0.18px; color:#4e4847;" th:text="${inquire_cat_nm}">
                                  </font>
                                </td>
                              </tr>
                              <tr>
                                <td height="20" style="font-size:0; line-height:0;">&nbsp;</td>
                              </tr>
                              <tr>
                                <td style="width:100px;">
                                  <b style="display:inline-block; font-family:'Pretendard',sans-serif; font-size:18px; line-height:1.55; letter-spacing:-0.36px; color:#221a19;">
                                    Submission Date
                                  </b>
                                </td>
                                <td align="right" style="text-align:right;">
                                  <font style="display:inline-block; font-family:'Pretendard',sans-serif; font-size:18px; line-height:1.55; letter-spacing:-0.18px; color:#4e4847;" th:text="${inquire_day}">
                                  </font>
                                </td>
                              </tr>
                              <tr>
                                <td height="20" style="font-size:0; line-height:0;">&nbsp;</td>
                              </tr>
                              <tr>
                                <td style="width:100px;">
                                  <b style="display:inline-block; font-family:'Pretendard',sans-serif; font-size:18px; line-height:1.55; letter-spacing:-0.36px; color:#221a19;">
                                    Submitter
                                  </b>
                                </td>
                                <td align="right" style="text-align:right;">
                                  <font style="display:inline-block; font-family:'Pretendard',sans-serif; font-size:18px; line-height:1.55; letter-spacing:-0.18px; color:#4e4847;" th:text="${customer_nm}">
                                  </font>
                                </td>
                              </tr>
                              <tr>
                                <td height="20" style="font-size:0; line-height:0;">&nbsp;</td>
                              </tr>
                              <tr>
                                <td style="width:100px;">
                                  <b style="display:inline-block; font-family:'Pretendard',sans-serif; font-size:18px; line-height:1.55; letter-spacing:-0.36px; color:#221a19;">
                                    Email
                                  </b>
                                </td>
                                <td align="right" style="text-align:right;">
                                  <font style="display:inline-block; font-family:'Pretendard',sans-serif; font-size:18px; line-height:1.55; letter-spacing:-0.18px; color:#4e4847;" th:text="${customer_mail}">
                                  </font>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td height="40" style="font-size:0; line-height:0;">&nbsp;</td>
                        </tr>
                        <tr>
                          <td height="1" style="font-size:0; line-height:0; background:#e9e8e8;">&nbsp;</td>
                        </tr>
                        <tr>
                          <td height="40" style="font-size:0; line-height:0;">&nbsp;</td>
                        </tr>
                        <tr>
                          <td>
                            <b style="display:inline-block; font-family:'Pretendard',sans-serif; font-size:20px; line-height:1.4; letter-spacing:-0.4px; color:#221a19;">
                              Inquiry Content
                            </b>
                          </td>
                        </tr>
                        <tr>
                          <td height="20" style="font-size:0; line-height:0;">&nbsp;</td>
                        </tr>
                        <tr>
                          <td>
                            <font style="display:inline-block; font-family:'Pretendard',sans-serif; font-size:20px; line-height:1.4; letter-spacing:-0.4px; color:#4e4847;" th:utext="${inquire_content}">
                            </font>
                          </td>
                        </tr>
                        <tr>
                          <td height="40" style="font-size:0; line-height:0;">&nbsp;</td>
                        </tr>
                        <tr>
                          <td height="1" style="font-size:0; line-height:0; background:#e9e8e8;">&nbsp;</td>
                        </tr>
                      </table>
                    </td>
                    <td width="40">&nbsp;</td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td height="100" style="font-size:0; line-height:0;">&nbsp;</td>
            </tr>
            <!-- //content -->

            <!-- footer -->
            <tr>
              <td>
                <img th:src="${resourceUrl} + '/images/email/img_mail_footer.png'" width="600" height="150" alt="JEIL M&amp;S &copy; 2024. All rights reserved" style="display:inline-block; border:0; vertical-align:top;" />
              </td>
            </tr>
            <!-- //footer -->
          </table>
          <!-- //Contents Container (600px) -->
        </td>
      </tr>
    </table>
    <!-- //Outer Container -->
  </body>
</html>