<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jeilm.api.app.board.service.mapper.NewsBoardMapper">

	<select id="selectPost" resultType="jeilm.api.app.board.vo.NewsBoardDetailVO">
		<![CDATA[
			/* selectPost */
			SELECT
				A.POST_SN
				, A.POST_CAT
				, B.CODE_NM AS POST_CAT_NM
				, A.POST_TITLE
				, A.POST_CONTENT
				, A.VIEW_CNT
				, A.LINK_URL
				, A.REG_DT
				, (SELECT FILE_USER_NM FROM TB_FILE F WHERE F.FILE_DATA_SN = A.POST_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'body') AS FILE_USER_NM_BODY
				, (SELECT FILE_PATH FROM TB_FILE F WHERE F.FILE_DATA_SN = A.POST_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'body') AS FILE_PATH_BODY
				, (SELECT FILE_USER_NM FROM TB_FILE F WHERE F.FILE_DATA_SN = A.POST_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'attach') AS FILE_USER_NM_ATTACH
				, (SELECT FILE_PATH FROM TB_FILE F WHERE F.FILE_DATA_SN = A.POST_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'attach') AS FILE_PATH_ATTACH
			FROM
				TB_BOARD_POST A
				INNER JOIN TB_CODE B ON (B.CODE_ID = A.POST_CAT)
			WHERE
				A.USE_STATE = 'Y'
				AND A.DISPLAY_YN = 'Y'
				AND B.USE_STATE = 'Y'
				AND B.DISPLAY_YN = 'Y'
				AND A.POST_SN = #{post_sn}
		]]>
	</select>
	
	<select id="selectPostPrev" resultType="jeilm.api.app.board.vo.NewsBoardPrevVO">
		<![CDATA[
			/* selectPostPrev */
			SELECT
				A.POST_CAT
				, A.POST_SN
				, A.POST_TITLE	
			FROM
				TB_BOARD_POST A
				INNER JOIN TB_CODE B ON (B.CODE_ID = A.POST_CAT)
			WHERE
				A.USE_STATE = 'Y'
				AND A.DISPLAY_YN = 'Y'
				AND B.USE_STATE = 'Y'
				AND B.DISPLAY_YN = 'Y'
				AND A.BOARD_ID = #{board_id}
				AND A.POST_SN > #{post_sn}
		]]>
			<if test='post_cat != null and !post_cat.equals("")'>
				AND A.POST_CAT = #{post_cat} 
			</if>
			<if test='post_cat_list != null and post_cat_list.length != 0'>
				AND A.POST_CAT IN 
				<foreach item="item" collection="post_cat_list" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test='search_text != null and !search_text.equals("")'>
				AND (A.POST_TITLE LIKE CONCAT('%', #{search_text}, '%') OR A.POST_CONTENT LIKE CONCAT('%', #{search_text}, '%')) 
			</if>
		<![CDATA[
			ORDER BY
				A.POST_SN ASC
			LIMIT 
				1
		]]>
	</select>
	
	<select id="selectPostNext" resultType="jeilm.api.app.board.vo.NewsBoardNextVO">
		<![CDATA[
			/* selectPostNext */
			SELECT
				A.POST_CAT
				, A.POST_SN
				, A.POST_TITLE	
			FROM
				TB_BOARD_POST A
				INNER JOIN TB_CODE B ON (B.CODE_ID = A.POST_CAT)
			WHERE
				A.USE_STATE = 'Y'
				AND A.DISPLAY_YN = 'Y'
				AND B.USE_STATE = 'Y'
				AND B.DISPLAY_YN = 'Y'
				AND A.BOARD_ID = #{board_id}
				AND A.POST_SN < #{post_sn}
		]]>
			<if test='post_cat != null and !post_cat.equals("")'>
				AND A.POST_CAT = #{post_cat} 
			</if>
			<if test='post_cat_list != null and post_cat_list.length != 0'>
				AND A.POST_CAT IN 
				<foreach item="item" collection="post_cat_list" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test='search_text != null and !search_text.equals("")'>
				AND (A.POST_TITLE LIKE CONCAT('%', #{search_text}, '%') OR A.POST_CONTENT LIKE CONCAT('%', #{search_text}, '%')) 
			</if>
		<![CDATA[
			ORDER BY
				A.POST_SN DESC
			LIMIT 
				1
		]]>
	</select>
	
	<select id="selectPostList" resultType="jeilm.api.app.board.vo.NewsBoardListVO">
		<![CDATA[
			/* selectPostList */
			SELECT
				A.POST_SN
				, A.POST_CAT
				, B.CODE_NM AS POST_CAT_NM
				, A.POST_TITLE
				, A.VIEW_CNT
				, A.REG_DT
				, (SELECT FILE_USER_NM FROM TB_FILE F WHERE F.FILE_DATA_SN = A.POST_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'thumb') AS FILE_USER_NM_THUMB
				, (SELECT FILE_PATH FROM TB_FILE F WHERE F.FILE_DATA_SN = A.POST_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'thumb') AS FILE_PATH_THUMB
				, (SELECT FILE_USER_NM FROM TB_FILE F WHERE F.FILE_DATA_SN = A.POST_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'attach') AS FILE_USER_NM_ATTACH
				, (SELECT FILE_PATH FROM TB_FILE F WHERE F.FILE_DATA_SN = A.POST_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'attach') AS FILE_PATH_ATTACH
			FROM
				TB_BOARD_POST A
				INNER JOIN TB_CODE B ON (B.CODE_ID = A.POST_CAT)
			WHERE
				A.USE_STATE = 'Y'
				AND A.DISPLAY_YN = 'Y'
				AND B.USE_STATE = 'Y'
				AND B.DISPLAY_YN = 'Y'
				AND A.BOARD_ID = #{board_id}
		]]>
			<if test='post_cat != null and !post_cat.equals("")'>
				AND A.POST_CAT = #{post_cat} 
			</if>
			<if test='post_cat_list != null and post_cat_list.length != 0'>
				AND A.POST_CAT IN 
				<foreach item="item" collection="post_cat_list" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test='search_text != null and !search_text.equals("")'>
				AND (A.POST_TITLE LIKE CONCAT('%', #{search_text}, '%') OR A.POST_CONTENT LIKE CONCAT('%', #{search_text}, '%')) 
			</if>
		<![CDATA[
			ORDER BY
				A.POST_SN DESC
			LIMIT 
				#{page_size} OFFSET #{page_offset}
		]]>
	</select>
	
	<select id="selectPostListForMain" resultType="jeilm.api.app.board.vo.NewsBoardListVO">
		<![CDATA[
			/* selectPostListForMain */
			SELECT
				A.POST_SN
				, A.POST_CAT
				, B.CODE_NM AS POST_CAT_NM
				, A.POST_TITLE
				, A.VIEW_CNT
				, A.REG_DT
				, (SELECT FILE_USER_NM FROM TB_FILE F WHERE F.FILE_DATA_SN = A.POST_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'thumb') AS FILE_USER_NM_THUMB
				, (SELECT FILE_PATH FROM TB_FILE F WHERE F.FILE_DATA_SN = A.POST_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'thumb') AS FILE_PATH_THUMB
				, (SELECT FILE_USER_NM FROM TB_FILE F WHERE F.FILE_DATA_SN = A.POST_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'attach') AS FILE_USER_NM_ATTACH
				, (SELECT FILE_PATH FROM TB_FILE F WHERE F.FILE_DATA_SN = A.POST_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'attach') AS FILE_PATH_ATTACH
			FROM
				TB_BOARD_POST A
				INNER JOIN TB_CODE B ON (B.CODE_ID = A.POST_CAT)
			WHERE
				A.USE_STATE = 'Y'
				AND A.DISPLAY_YN = 'Y'
				AND B.USE_STATE = 'Y'
				AND B.DISPLAY_YN = 'Y'
				AND A.BOARD_ID = #{board_id}
			ORDER BY
				A.POST_SN DESC
			LIMIT 
				3
		]]>
	</select>
	
	<select id="selectPostCount" resultType="int">
		<![CDATA[
			/* selectPostCount */
			SELECT
				COUNT(*) CNT
			FROM
				TB_BOARD_POST A
				INNER JOIN TB_CODE B ON (B.CODE_ID = A.POST_CAT)
			WHERE
				A.USE_STATE = 'Y'
				AND A.DISPLAY_YN = 'Y'
				AND B.USE_STATE = 'Y'
				AND B.DISPLAY_YN = 'Y'
				AND A.BOARD_ID = #{board_id}
		]]>
			<if test='post_cat != null and !post_cat.equals("")'>
				AND A.POST_CAT = #{post_cat} 
			</if>
			<if test='post_cat_list != null and post_cat_list.length != 0'>
				AND A.POST_CAT IN 
				<foreach item="item" collection="post_cat_list" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test='search_text != null and !search_text.equals("")'>
				AND (A.POST_TITLE LIKE CONCAT('%', #{search_text}, '%') OR A.POST_CONTENT LIKE CONCAT('%', #{search_text}, '%')) 
			</if>
	</select>
	
	<update id="updateViewCount">
		<![CDATA[
			/* updateViewCount */
			UPDATE
				TB_BOARD_POST
			SET
				VIEW_CNT = VIEW_CNT + 1
			WHERE
				POST_SN = #{post_sn}
		]]>	
	</update>

</mapper>