<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jeilm.api.app.privacy.service.mapper.PrivacyMapper">

	<select id="selectPrivacy" resultType="jeilm.api.app.privacy.vo.PrivacyVO">
		<![CDATA[
			/* selectPrivacy */
			SELECT
				A.PRIVACY_VERSION
				, A.PRIVACY_REVISION
				, A.PRIVACY_CONTENT
			FROM
				TB_PRIVACY A
			WHERE
				A.USE_STATE = 'Y'
				AND A.DISPLAY_YN = 'Y'
				AND A.PRIVACY_ID = #{privacy_id}
				AND A.PRIVACY_VERSION = #{privacy_version}
		]]>
	</select>
	
	<select id="selectPrivacyTop" resultType="jeilm.api.app.privacy.vo.PrivacyVO">
		<![CDATA[
			/* selectPrivacyTop */
			SELECT
				A.PRIVACY_VERSION
				, A.PRIVACY_REVISION
				, A.PRIVACY_CONTENT
			FROM
				TB_PRIVACY A
			WHERE
				A.USE_STATE = 'Y'
				AND A.DISPLAY_YN = 'Y'
				AND A.PRIVACY_ID = #{privacy_id}
			ORDER BY
				A.PRIVACY_VERSION DESC
			LIMIT 
				1
		]]>
	</select>
	
	<select id="selectPrivacyList" resultType="jeilm.api.app.privacy.vo.PrivacyVO">
		<![CDATA[
			/* selectPrivacyList */
			SELECT
				A.PRIVACY_VERSION
				, A.PRIVACY_REVISION
			FROM
				TB_PRIVACY A
			WHERE
				A.USE_STATE = 'Y'
				AND A.DISPLAY_YN = 'Y'
				AND A.PRIVACY_ID = #{privacy_id}
			ORDER BY
				A.PRIVACY_VERSION DESC
		]]>
	</select>

</mapper>