<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jeilm.api.app.support.service.mapper.SupportReceiveMapper">

	<select id="selectSupportReceiveList" resultType="jeilm.api.app.support.vo.SupportReceiveVO">
		<![CDATA[
			/* selectSupportReceiveList */
			SELECT
				A.RECEIVE_SN
				, A.RECEIVE_NM
				, A.RECEIVE_MAIL
			FROM
				TB_SUPPORT_RECEIVE A
			WHERE
				A.USE_STATE = 'Y'
			ORDER BY
				A.RECEIVE_NM ASC
		]]>
	</select>
	
</mapper>