<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jeilm.api.app.certificate.service.mapper.CertificateMapper">

	<select id="selectCertificateList" resultType="jeilm.api.app.certificate.vo.CertificateVO">
		<![CDATA[
			/* selectCertificateList */
			SELECT
				A.CERTIFICATE_CAT
				, B.CODE_NM AS CERTIFICATE_CAT_NM
				, A.CERTIFICATE_TITLE 
				, A.CERTIFICATE_DESC 
				, A.CERTIFICATE_DAY
				, A.MAJOR_YN
				, (SELECT FILE_USER_NM FROM TB_FILE F WHERE F.FILE_DATA_SN = A.CERTIFICATE_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'thumb') AS FILE_USER_NM_THUMB
				, (SELECT FILE_PATH FROM TB_FILE F WHERE F.FILE_DATA_SN = A.CERTIFICATE_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'thumb') AS FILE_PATH_THUMB
				, (SELECT FILE_USER_NM FROM TB_FILE F WHERE F.FILE_DATA_SN = A.CERTIFICATE_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'main') AS FILE_USER_NM_MAIN
				, (SELECT FILE_PATH FROM TB_FILE F WHERE F.FILE_DATA_SN = A.CERTIFICATE_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'main') AS FILE_PATH_MAIN
			FROM
				TB_CERTIFICATE A
				INNER JOIN TB_CODE B ON (B.CODE_ID = A.CERTIFICATE_CAT)
			WHERE
				A.USE_STATE = 'Y'
				AND B.USE_STATE = 'Y'
				AND A.CERTIFICATE_ID = #{certificate_id}
		]]>
			<if test='certificate_cat != null and !certificate_cat.equals("")'>
				AND A.CERTIFICATE_CAT = #{certificate_cat} 
			</if>
			<if test='major_yn != null and !major_yn.equals("")'>
				AND A.MAJOR_YN = #{major_yn} 
			</if>
			<if test='certificate_cat_list != null and certificate_cat_list.length != 0'>
				AND A.CERTIFICATE_CAT IN 
				<foreach item="item" collection="certificate_cat_list" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		<![CDATA[
			ORDER BY
				A.SORT_NO ASC
		]]>
	</select>
	
</mapper>