<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jeilm.api.app.certificate.service.mapper.CertificateMapper">

	<select id="selectCertificateListKo" resultType="jeilm.api.app.certificate.vo.CertificateVO">
		<![CDATA[
			/* selectCertificateListKo */
			SELECT
				A.CERTIFICATE_TITLE_KO AS CERTIFICATE_TITLE 
				, (SELECT FILE_USER_NM FROM TB_FILE F WHERE F.FILE_DATA_SN = A.CERTIFICATE_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'thumb') AS FILE_USER_NM_THUMB
				, (SELECT FILE_PATH FROM TB_FILE F WHERE F.FILE_DATA_SN = A.CERTIFICATE_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'thumb') AS FILE_PATH_THUMB
				, (SELECT FILE_USER_NM FROM TB_FILE F WHERE F.FILE_DATA_SN = A.CERTIFICATE_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'main') AS FILE_USER_NM_MAIN
				, (SELECT FILE_PATH FROM TB_FILE F WHERE F.FILE_DATA_SN = A.CERTIFICATE_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'main') AS FILE_PATH_MAIN
			FROM
				TB_CERTIFICATE A
			WHERE
				A.USE_STATE = 'Y'
			ORDER BY
				A.CERTIFICATE_SORT ASC
		]]>
	</select>
	
	<select id="selectCertificateListEn" resultType="jeilm.api.app.certificate.vo.CertificateVO">
		<![CDATA[
			/* selectCertificateListEn */
			SELECT
				A.CERTIFICATE_TITLE_EN AS CERTIFICATE_TITLE 
				, (SELECT FILE_USER_NM FROM TB_FILE F WHERE F.FILE_DATA_SN = A.CERTIFICATE_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'thumb') AS FILE_USER_NM_THUMB
				, (SELECT FILE_PATH FROM TB_FILE F WHERE F.FILE_DATA_SN = A.CERTIFICATE_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'thumb') AS FILE_PATH_THUMB
				, (SELECT FILE_USER_NM FROM TB_FILE F WHERE F.FILE_DATA_SN = A.CERTIFICATE_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'main') AS FILE_USER_NM_MAIN
				, (SELECT FILE_PATH FROM TB_FILE F WHERE F.FILE_DATA_SN = A.CERTIFICATE_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'main') AS FILE_PATH_MAIN
			FROM
				TB_CERTIFICATE A
			WHERE
				A.USE_STATE = 'Y'
			ORDER BY
				A.CERTIFICATE_SORT ASC
		]]>
	</select>
	
	<select id="selectCertificateListCn" resultType="jeilm.api.app.certificate.vo.CertificateVO">
		<![CDATA[
			/* selectCertificateListCn */
			SELECT
				A.CERTIFICATE_TITLE_CN AS CERTIFICATE_TITLE 
				, (SELECT FILE_USER_NM FROM TB_FILE F WHERE F.FILE_DATA_SN = A.CERTIFICATE_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'thumb') AS FILE_USER_NM_THUMB
				, (SELECT FILE_PATH FROM TB_FILE F WHERE F.FILE_DATA_SN = A.CERTIFICATE_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'thumb') AS FILE_PATH_THUMB
				, (SELECT FILE_USER_NM FROM TB_FILE F WHERE F.FILE_DATA_SN = A.CERTIFICATE_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'main') AS FILE_USER_NM_MAIN
				, (SELECT FILE_PATH FROM TB_FILE F WHERE F.FILE_DATA_SN = A.CERTIFICATE_SN AND F.USE_STATE = 'Y' AND F.FILE_CONTENT_CD = 'main') AS FILE_PATH_MAIN
			FROM
				TB_CERTIFICATE A
			WHERE
				A.USE_STATE = 'Y'
			ORDER BY
				A.CERTIFICATE_SORT ASC
		]]>
	</select>
	
</mapper>