<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jeilm.api.app.office.service.mapper.OfficeNationMapper">

	<select id="selectOfficeNationList" resultType="jeilm.api.app.office.vo.OfficeNationVO">
		<![CDATA[
			/* selectOfficeNationList */
			SELECT
				AA.NATION_SN
				, AA.NATION_ID
				, AA.NATION_NM
				, AA.NATION_X
				, AA.NATION_Y
				, IFNULL(BB.NATION_COUNT, 0) AS NATION_COUNT
			FROM
				TB_OFFICE_NATION AA
				LEFT OUTER JOIN 
				(
					SELECT
						A.NATION_SN
						, COUNT(A.NATION_SN) AS NATION_COUNT
					FROM
						TB_OFFICE_LOCATION A
					WHERE
						A.USE_STATE = 'Y'
						AND A.LOCATION_ID = #{location_id}
					GROUP BY
						A.NATION_SN		
				) BB ON (BB.NATION_SN = AA.NATION_SN)
			WHERE
				AA.USE_STATE = 'Y'
				AND AA.NATION_ID = #{nation_id}
			ORDER BY
				AA.SORT_NO ASC
		]]>
	</select>

</mapper>